NET "CLK" LOC = "P29" | IOSTANDARD = LVCMOS33;
NET "DBG" LOC = "P27" | IOSTANDARD = LVCMOS33;
NET "PLL" LOC = "P19" | IOSTANDARD = LVCMOS33; # SCL pad, bypass 22K
NET "POST" LOC = "P40" | IOSTANDARD = LVCMOS18 | SCHMITT_TRIGGER;
NET "RST" LOC = "P8" | IOSTANDARD = LVCMOS18;
