NET "CLK" LOC = "D10" | IOSTANDARD = LVCMOS33;
NET "DBG1" LOC = "C1" | IOSTANDARD = LVCMOS33; # 1.2
NET "DBG2" LOC = "A2" | IOSTANDARD = LVCMOS33; # 2.x
NET "PLL1" LOC = "A4" | IOSTANDARD = LVCMOS33; # 1.2 SCL pad, bypass 22K
NET "PLL2" LOC = "E1" | IOSTANDARD = LVCMOS33; # 2.x SCL pad, bypass 22K
NET "POST" LOC = "H3" | IOSTANDARD = LVCMOS15 | SCHMITT_TRIGGER;
NET "RST" LOC = "E10" | IOSTANDARD = LVCMOS15 | SCHMITT_TRIGGER;
